<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./components/header', {}) %>
    <main>
      <% for (let i = 0; i < messages.length; i += 1) { %>
      <div>
        <p>Username: <%= messages[i].username %></p>
        <p>Date: <%= messages[i].created_at %></p>
        <p>Message: <%= messages[i].message %></p>
        <a href="/message/<%= messages[i].id %>">Open message</a>
      </div>
      <% } %>
      <a href="/new">New Message</a>
    </main>
  </body>
</html>
